@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {

	.text-neon-green {
		color: #afa;
		text-shadow:
			0 0 7px #afa,
			0 0 42px #0fa,
			0 0 82px #0fa,
			0 0 92px #0fa,
			0 0 102px #0fa,
		    0 0 152px #0fa
	}

	.text-neon-blue {
		color: #ccf;
		text-shadow:
			0 0 7px #7af,
	        0 0 42px #0af
	}

}